---
import Header from '@/components/Header.astro'
import  About  from '@/components/About.astro'
import DataCards from '@/components/cards/DataCards.astro';
import Analytics from '@/components/Analytics.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-7" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Coulton Fraser">
    <meta property="og:description" content="Software developer in Calgary, AB.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://raw.githubusercontent.com/CoultonF/coultonf/main/src/images/websitepreview.png">
    <meta property="og:url" content="https://coultonf.com/">
    <title>Coulton Fraser</title>
  </head>
  <body>
    <Header />
    <main>
      <About/>
      <DataCards />
      <Analytics />
    </main>
    <footer></footer>
  </body>
</html>
