---
import { getGlucoseLatest } from "@/api/glucose.ts";
import { zDateTime } from "../zodDates.ts";
import { z } from "zod";
const dateOptions = {
  weekday: 'long',
  month: 'long',
  day: 'numeric',
} as const;

const timeOptions = {
  dayPeriod: undefined,
  hour: 'numeric',
  minute: 'numeric',
  second: undefined,
} as const;
const glucoseData = await getGlucoseLatest()
const GlucoseSchema = z
  .object({
    time: zDateTime,
    units: z.string(),
    value: z.number(),
    payload: z
      .object({
        'com.LoopKit.GlucoseKit.HKMetadataKey.GlucoseTrend': z.string().nullable().optional(),
      })
      .nullable()
      .optional(),
  })
  .transform(v => {
    const { time, value, payload, ...rest } = v;
    return {
      value: v.value.toFixed(1),
      date: new Date(v.time).toLocaleDateString('en-US', dateOptions),
      time: new Date(v.time).toLocaleTimeString('en-US', timeOptions),
      trend: payload?.['com.LoopKit.GlucoseKit.HKMetadataKey.GlucoseTrend'],
      ...rest,
    };
  });
  const glucoseStats = GlucoseSchema.parse(glucoseData);
---
<div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 flex justify-around"
          >
            <div class="">
              <dt class="truncate text-sm font-medium text-gray-500">Blood Glucose</dt>
              <dd class="mt-1 text-xl flex flex-row items-center font-semibold tracking-tight text-gray-900">{glucoseStats.value} {glucoseStats.units} trending {
                glucoseStats?.trend == '↗' ? 
<svg xmlns="http://www.w3.org/2000/svg" height="16" class="fill-black w-6 h-6" width="14" viewBox="0 0 448 512"><path d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
                : 
                glucoseStats.trend == "→" ? <p>&nbsp;flat</p>
<svg xmlns="http://www.w3.org/2000/svg" height="16" class="fill-black h-6 w-6" width="10" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                 : 
<svg xmlns="http://www.w3.org/2000/svg" height="16" class="w-6 h-6 fill-black" width="14" viewBox="0 0 448 512"><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
              }</dd>
              <dd class="mt-1 text-sm  tracking-tight text-gray-400">
                {glucoseStats.date} @ {glucoseStats.time}
              </dd>
              <dd class="mt-1 text-sm  tracking-tight text-gray-400"></dd>
            </div>
            <div class="flex-none self-center m-4">
               <svg xmlns="http://www.w3.org/2000/svg" class="fill-red-500 h-12 w-12" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M192 512C86 512 0 426 0 320C0 228.8 130.2 57.7 166.6 11.7C172.6 4.2 181.5 0 191.1 0h1.8c9.6 0 18.5 4.2 24.5 11.7C253.8 57.7 384 228.8 384 320c0 106-86 192-192 192zM96 336c0-8.8-7.2-16-16-16s-16 7.2-16 16c0 61.9 50.1 112 112 112c8.8 0 16-7.2 16-16s-7.2-16-16-16c-44.2 0-80-35.8-80-80z"/></svg>
              </div>
          </div>