---
import SiteLayout from '@/layouts/SiteLayout.astro';
import MonthlyCalendarDashboard from '@/islands/MonthlyCalendarDashboard';
import CorrelationDashboard from '@/islands/CorrelationDashboard';
---

<SiteLayout title="Dashboard | Coulton Fraser" activePath="/dashboard">
  <div class="flex flex-col gap-6">
    <div><MonthlyCalendarDashboard client:load /></div>
    <div><CorrelationDashboard client:load /></div>
  </div>
</SiteLayout>
